body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1 {
  text-align: center;
  font-weight: normal;
}
form {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
input {
  border:1px solid gray;
  padding:5px 10px;
  font-family: inherit;
  outline:none;
}
[type="number"] {
  border-radius:5px 0 0 5px;
  transition:.3s all ease-in-out;
  &:focus {
    box-shadow:0 0 10px rgba(0,0,0,0.15);
  }
}
[type="submit"] {
  border-radius:0 5px 5px 0;
  cursor:pointer;
}
.result {
  text-align: center;
  margin-top: 10px;
  &.pair {
    color:green;
  }
  &.impair {
    color:palevioletred;
  }
}
.compteur, .tentatives {
  text-align: center;
}